@-webkit-keyframes fold-down-from {
  from {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0);
    transform: translate3d(0, 0, 0) rotateX(0);
  }
  to {
    -webkit-transform: translate3d(0, 100%, 0) rotateX(70deg);
    transform: translate3d(0, 100%, 0) rotateX(70deg);
  }
}
@keyframes fold-down-from {
  from {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0);
    transform: translate3d(0, 0, 0) rotateX(0);
  }
  to {
    -webkit-transform: translate3d(0, 100%, 0) rotateX(70deg);
    transform: translate3d(0, 100%, 0) rotateX(70deg);
  }
}
