@import '../../dist/esm';

/* default */
element {
  content: animation-speed();
}

/* 400ms */
element {
  content: animation-speed(400ms);
}

@each $speed in map-keys($const-animation-speed-scale) {
  /* #{$speed} */
  element {
    content: animation-speed($speed);
  }
}
