@import '../app';

/* element */
#{class(element)} {
  content: 'class';
}

/* '.element' */
#{class('.element')} {
  content: 'class';
}

/* 'div.element' */
#{class('div.element')} {
  content: 'class';
}
