/* unitless */
element {
  content: 1;
}

/* % */
element {
  content: 1;
}

/* cm */
element {
  content: 1;
}

/* em */
element {
  content: 1;
}

/* ex */
element {
  content: 1;
}

/* in */
element {
  content: 1;
}

/* mm */
element {
  content: 1;
}

/* pc */
element {
  content: 1;
}

/* pt */
element {
  content: 1;
}

/* px */
element {
  content: 1;
}

/* rem */
element {
  content: 1;
}

/* vh */
element {
  content: 1;
}

/* vw */
element {
  content: 1;
}
