@import '../app';

/* unitless */
element {
  content: clear-unit(42);
}

/* % */
element {
  content: clear-unit(42%);
}

/* cm */
element {
  content: clear-unit(42cm);
}

/* em */
element {
  content: clear-unit(42em);
}

/* ex */
element {
  content: clear-unit(42ex);
}

/* in */
element {
  content: clear-unit(42in);
}

/* mm */
element {
  content: clear-unit(42mm);
}

/* pc */
element {
  content: clear-unit(42pc);
}

/* pt */
element {
  content: clear-unit(42pt);
}

/* px */
element {
  content: clear-unit(42px);
}

/* rem */
element {
  content: clear-unit(42rem);
}

/* vh */
element {
  content: clear-unit(42vh);
}

/* vw */
element {
  content: clear-unit(42vw);
}
