@import '../../dist/esm';

/* #f00 */
element {
  content: color(#f00);
}

@each $scale in map-keys($const-color-scale) {
  /* #f00 (#{$scale}) */
  element {
    content: color(#f00, $scale);
  }
}

@each $color in map-keys($const-color-keys) {
  /* #{$color} */
  element {
    content: color($color);
  }
}
