/* #f00 */
element {
  content: #f00;
}

/* #f00 (heavy) */
element {
  content: #5c0000;
}

/* #f00 (hard) */
element {
  content: #730000;
}

/* #f00 (darkest) */
element {
  content: maroon;
}

/* #f00 (darker) */
element {
  content: #a30000;
}

/* #f00 (dark) */
element {
  content: #bf0000;
}

/* #f00 (regular) */
element {
  content: red;
}

/* #f00 (light) */
element {
  content: #ff4040;
}

/* #f00 (lighter) */
element {
  content: #ff6b6b;
}

/* #f00 (lightest) */
element {
  content: #ffb3b3;
}

/* #f00 (soft) */
element {
  content: #ffd9d9;
}

/* #f00 (pastel) */
element {
  content: #fff2f2;
}

/* gray */
element {
  content: dimgray;
}

/* theme */
element {
  content: blue;
}

/* success */
element {
  content: green;
}

/* warn */
element {
  content: yellow;
}

/* err */
element {
  content: red;
}
