@import '../app';

/* gray */
element {
  content: color(gray);
}

/* gray ($scale: false) */
element {
  content: color(gray, false);
}

/* gray ($scale: heavy) */
element {
  content: color(gray, heavy);
}

/* gray ($scale: hard) */
element {
  content: color(gray, hard);
}

/* gray ($scale: darkest) */
element {
  content: color(gray, darkest);
}

/* gray ($scale: darker) */
element {
  content: color(gray, darker);
}

/* gray ($scale: dark) */
element {
  content: color(gray, dark);
}

/* gray ($scale: regular) */
element {
  content: color(gray, regular);
}

/* gray ($scale: light) */
element {
  content: color(gray, light);
}

/* gray ($scale: lighter) */
element {
  content: color(gray, lighter);
}

/* gray ($scale: lightest) */
element {
  content: color(gray, lightest);
}

/* gray ($scale: soft) */
element {
  content: color(gray, soft);
}

/* gray ($scale: pastel) */
element {
  content: color(gray, pastel);
}

/* #f00 */
element {
  content: color(#f00);
}

/* #f00 ($scale: false) */
element {
  content: color(#f00, false);
}

/* #f00 ($scale: heavy) */
element {
  content: color(#f00, heavy);
}

/* #f00 ($scale: hard) */
element {
  content: color(#f00, hard);
}

/* #f00 ($scale: darkest) */
element {
  content: color(#f00, darkest);
}

/* #f00 ($scale: darker) */
element {
  content: color(#f00, darker);
}

/* #f00 ($scale: dark) */
element {
  content: color(#f00, dark);
}

/* #f00 ($scale: regular) */
element {
  content: color(#f00, regular);
}

/* #f00 ($scale: light) */
element {
  content: color(#f00, light);
}

/* #f00 ($scale: lighter) */
element {
  content: color(#f00, lighter);
}

/* #f00 ($scale: lightest) */
element {
  content: color(#f00, lightest);
}

/* #f00 ($scale: soft) */
element {
  content: color(#f00, soft);
}

/* #f00 ($scale: pastel) */
element {
  content: color(#f00, pastel);
}
