@import '../app';

/* element */
#{create-id(element)} {
  content: 'id';
}

/* '#element' */
#{create-id('#element')} {
  content: 'id';
}

/* 'div#element' */
#{create-id('div#element')} {
  content: 'id';
}
