/* unitless */
element {
  content: 1px;
}

/* % */
element {
  content: 1%;
}

/* cm */
element {
  content: 3.14965em;
}

/* em */
element {
  content: 1em;
}

/* ex */
element {
  content: 1ex;
}

/* in */
element {
  content: 7.99974em;
}

/* mm */
element {
  content: 0.31496em;
}

/* pc */
element {
  content: 1.33333em;
}

/* pt */
element {
  content: 1px;
}

/* px */
element {
  content: 1px;
}

/* rem */
element {
  content: 1rem;
}

/* vh */
element {
  content: 1vh;
}

/* vw */
element {
  content: 1vw;
}
