/* unitless */
element {
  content: 1px;
}

/* % */
element {
  content: 1%;
}

/* cm */
element {
  content: 2.36223em;
}

/* em */
element {
  content: 1em;
}

/* ex */
element {
  content: 1ex;
}

/* in */
element {
  content: 5.99981em;
}

/* mm */
element {
  content: 0.23622em;
}

/* pc */
element {
  content: 1em;
}

/* pt */
element {
  content: 1px;
}

/* px */
element {
  content: 1px;
}

/* rem */
element {
  content: 1rem;
}

/* vh */
element {
  content: 1vh;
}

/* vw */
element {
  content: 1vw;
}
