@import '../app';

/* unitless */
element {
  content: em(42);
}

/* % */
element {
  content: em(42%);
}

/* cm */
element {
  content: em(42cm);
}

/* em */
element {
  content: em(42em);
}

/* ex */
element {
  content: em(42ex);
}

/* in */
element {
  content: em(42in);
}

/* mm */
element {
  content: em(42mm);
}

/* pc */
element {
  content: em(42pc);
}

/* pt */
element {
  content: em(42pt);
}

/* px */
element {
  content: em(42px);
}

/* rem */
element {
  content: em(42rem);
}

/* vh */
element {
  content: em(42vh);
}

/* vw */
element {
  content: em(42vw);
}
