@import '../../dist/esm';

/* unitless */
element {
  content: em(1);
}

/* % */
element {
  content: em(1%);
}

/* cm */
element {
  content: em(1cm);
}

/* em */
element {
  content: em(1em);
}

/* ex */
element {
  content: em(1ex);
}

/* in */
element {
  content: em(1in);
}

/* mm */
element {
  content: em(1mm);
}

/* pc */
element {
  content: em(1pc);
}

/* pt */
element {
  content: em(1pt);
}

/* px */
element {
  content: em(1px);
}

/* rem */
element {
  content: em(1rem);
}

/* vh */
element {
  content: em(1vh);
}

/* vw */
element {
  content: em(1vw);
}
