@import '../../dist/esm';

/* unitless */
element {
  content: font-size(42);
}

/* number */
element {
  content: font-size(42px);
}

/* number ($method: false) */
element {
  content: font-size(42px, false);
}

/* number ($method: em) */
element {
  content: font-size(42px, em);
}

/* number ($method: rem) */
element {
  content: font-size(42px, rem);
}

/* inherit */
element {
  content: font-size(inherit);
}

/* tiny */
element {
  content: font-size(tiny);
}

/* smallest */
element {
  content: font-size(smallest);
}

/* smaller */
element {
  content: font-size(smaller);
}

/* small */
element {
  content: font-size(small);
}

/* regular */
element {
  content: font-size(regular);
}

/* large */
element {
  content: font-size(large);
}

/* larger */
element {
  content: font-size(larger);
}

/* largest */
element {
  content: font-size(largest);
}

/* xl */
element {
  content: font-size(xl);
}

/* xxl */
element {
  content: font-size(xxl);
}
