@import '../../dist/esm';

/* inherit */
element {
  content: font-weight(inherit);
}

@each $value in map-values($const-font-weight-scale) {
  /* #{$value} */
  element {
    content: font-weight($value);
  }
}

@each $scale in map-keys($const-font-weight-scale) {
  /* #{$scale} */
  element {
    content: font-weight($scale);
  }
}
