@import '../../dist/esm';

/* number */
element {
  content: font-size(1px);
}

/* number - 14px (method: false) */
element {
  content: font-size(14px, false);
}

/* number - 14px (method: em) */
element {
  content: font-size(14px, em);
}

/* number - 14px (method: rem) */
element {
  content: font-size(14px, rem);
}

/* inherit */
element {
  content: font-size(inherit);
}

@each $scale in map-keys($const-font-size-scale) {
  /* #{$scale} */
  element {
    content: font-size($scale);
  }
}
