/* number */
element {
  content: 1px;
}

/* number - 14px (method: false) */
element {
  content: 14px;
}

/* number - 14px (method: em) */
element {
  content: 14px;
}

/* number - 14px (method: rem) */
element {
  content: 14px;
}

/* inherit */
element {
  content: inherit;
}

/* tiny */
element {
  content: 10px;
}

/* smallest */
element {
  content: 11px;
}

/* smaller */
element {
  content: 12px;
}

/* small */
element {
  content: 14px;
}

/* regular */
element {
  content: 16px;
}

/* large */
element {
  content: 18px;
}

/* larger */
element {
  content: 20px;
}

/* largest */
element {
  content: 22px;
}
