/* inherit */
element {
  content: inherit;
}

/* 100 */
element {
  content: 100;
}

/* 300 */
element {
  content: 300;
}

/* 400 */
element {
  content: 400;
}

/* 500 */
element {
  content: 500;
}

/* 600 */
element {
  content: 600;
}

/* 700 */
element {
  content: 700;
}

/* 800 */
element {
  content: 800;
}

/* 900 */
element {
  content: 900;
}

/* thin */
element {
  content: 100;
}

/* light */
element {
  content: 300;
}

/* regular */
element {
  content: 400;
}

/* medium */
element {
  content: 500;
}

/* semibold */
element {
  content: 600;
}

/* bold */
element {
  content: 700;
}

/* extrabold */
element {
  content: 800;
}

/* ultrabold */
element {
  content: 900;
}
