/* unitless */
element {
  content: 3.5rem;
}

/* number */
element {
  content: 3.5rem;
}

/* number ($method: false) */
element {
  content: 42px;
}

/* number ($method: em) */
element {
  content: 3.5em;
}

/* number ($method: rem) */
element {
  content: 3.5rem;
}

/* inherit */
element {
  content: inherit;
}

/* tiny */
element {
  content: 0.66667rem;
}

/* smallest */
element {
  content: 0.75rem;
}

/* smaller */
element {
  content: 0.83333rem;
}

/* small */
element {
  content: 0.91667rem;
}

/* regular */
element {
  content: 1rem;
}

/* large */
element {
  content: 1.25rem;
}

/* larger */
element {
  content: 1.5rem;
}

/* largest */
element {
  content: 1.75rem;
}

/* xl */
element {
  content: 2rem;
}

/* xxl */
element {
  content: 2.5rem;
}
