@import '../../dist/esm';

/* 480px */
element {
  content: '#{media(480px)}';
}

@each $scale in map-keys($const-media-scale) {
  /* #{$scale} */
  element {
    content: '#{media($scale)}';
  }

  /* #{$scale} (prop: width) */
  element {
    content: '#{media($scale, width)}';
  }

  /* #{$scale} (prop: height) */
  element {
    content: '#{media($scale, height)}';
  }

  /* #{$scale} (prop: both) */
  element {
    content: '#{media($scale, both)}';
  }
}
