@import '../app';

/* 480px */
element {
  content: '#{media(480px)}';
}

/* phone */
element {
  content: '#{media(phone)}';
}

/* phone ($prop: width) */
element {
  content: '#{media(phone, width)}';
}

/* phone ($prop: height) */
element {
  content: '#{media(phone, height)}';
}

/* phone ($prop: both) */
element {
  content: '#{media(phone, both)}';
}

/* portrait */
element {
  content: '#{media(portrait)}';
}

/* portrait ($prop: width) */
element {
  content: '#{media(portrait, width)}';
}

/* portrait ($prop: height) */
element {
  content: '#{media(portrait, height)}';
}

/* portrait ($prop: both) */
element {
  content: '#{media(portrait, both)}';
}

/* landscape */
element {
  content: '#{media(landscape)}';
}

/* landscape ($prop: width) */
element {
  content: '#{media(landscape, width)}';
}

/* landscape ($prop: height) */
element {
  content: '#{media(landscape, height)}';
}

/* landscape ($prop: both) */
element {
  content: '#{media(landscape, both)}';
}

/* notebook */
element {
  content: '#{media(notebook)}';
}

/* notebook ($prop: width) */
element {
  content: '#{media(notebook, width)}';
}

/* notebook ($prop: height) */
element {
  content: '#{media(notebook, height)}';
}

/* notebook ($prop: both) */
element {
  content: '#{media(notebook, both)}';
}

/* desktop */
element {
  content: '#{media(desktop)}';
}

/* desktop ($prop: width) */
element {
  content: '#{media(desktop, width)}';
}

/* desktop ($prop: height) */
element {
  content: '#{media(desktop, height)}';
}

/* desktop ($prop: both) */
element {
  content: '#{media(desktop, both)}';
}
