@import '../../dist/esm';

/* % */
element {
  content: rem(1%);
}

/* cm */
element {
  content: rem(1cm);
}

/* em */
element {
  content: rem(1em);
}

/* ex */
element {
  content: rem(1ex);
}

/* in */
element {
  content: rem(1in);
}

/* mm */
element {
  content: rem(1mm);
}

/* pc */
element {
  content: rem(1pc);
}

/* pt */
element {
  content: rem(1pt);
}

/* px */
element {
  content: rem(1px);
}

/* rem */
element {
  content: rem(1rem);
}

/* vh */
element {
  content: rem(1vh);
}

/* vw */
element {
  content: rem(1vw);
}
