/* % */
element {
  content: 1%;
}

/* cm */
element {
  content: 1cm;
}

/* em */
element {
  content: 1em;
}

/* ex */
element {
  content: 1ex;
}

/* in */
element {
  content: 1in;
}

/* mm */
element {
  content: 1mm;
}

/* pc */
element {
  content: 1pc;
}

/* pt */
element {
  content: 1pt;
}

/* px */
element {
  content: 1px;
}

/* rem */
element {
  content: 1rem;
}

/* vh */
element {
  content: 1vh;
}

/* vw */
element {
  content: 1vw;
}
