@import '../../dist/esm';

/* unitless */
element {
  content: rem(42);
}

/* % */
element {
  content: rem(42%);
}

/* cm */
element {
  content: rem(42cm);
}

/* em */
element {
  content: rem(42em);
}

/* ex */
element {
  content: rem(42ex);
}

/* in */
element {
  content: rem(42in);
}

/* mm */
element {
  content: rem(42mm);
}

/* pc */
element {
  content: rem(42pc);
}

/* pt */
element {
  content: rem(42pt);
}

/* px */
element {
  content: rem(42px);
}

/* rem */
element {
  content: rem(42rem);
}

/* vh */
element {
  content: rem(42vh);
}

/* vw */
element {
  content: rem(42vw);
}
