/* unitless */
element {
  content: 3.5rem;
}

/* % */
element {
  content: 42%;
}

/* cm */
element {
  content: 42cm;
}

/* em */
element {
  content: 42em;
}

/* ex */
element {
  content: 42ex;
}

/* in */
element {
  content: 42in;
}

/* mm */
element {
  content: 42mm;
}

/* pc */
element {
  content: 42pc;
}

/* pt */
element {
  content: 42pt;
}

/* px */
element {
  content: 3.5rem;
}

/* rem */
element {
  content: 42rem;
}

/* vh */
element {
  content: 42vh;
}

/* vw */
element {
  content: 42vw;
}
