@import '../app';

/* element */
#{to-class(element)} {
  content: 'class';
}

/* '.element' */
#{to-class('.element')} {
  content: 'class';
}

/* 'div.element' */
#{to-class('div.element')} {
  content: 'class';
}
