@import '../app';

/* element */
#{to-id(element)} {
  content: 'to-id';
}

/* '#element' */
#{to-id('#element')} {
  content: 'to-id';
}

/* 'div#element' */
#{to-id('div#element')} {
  content: 'to-id';
}
