@import '../../dist/esm';

/* empty */
element {
  content: to-unicode('');
}

/* 00a0 */
element {
  content: to-unicode('00a0');
}

/* \00a0 */
element {
  content: to-unicode('\00a0');
}

/* value */
element {
  content: to-unicode('value');
}
