/* number */
element {
  content: 1px;
}

/* number - 14px (method: false) */
element {
  content: 14px;
}

/* number - 14px (method: em) */
element {
  content: 14px;
}

/* number - 14px (method: rem) */
element {
  content: 14px;
}

/* tiny */
element {
  content: 5px;
}

/* smallest */
element {
  content: 10px;
}

/* smaller */
element {
  content: 15px;
}

/* small */
element {
  content: 20px;
}

/* regular */
element {
  content: 30px;
}

/* large */
element {
  content: 45px;
}

/* larger */
element {
  content: 60px;
}

/* largest */
element {
  content: 90px;
}
