@import '../app';

/* unitless */
element {
  content: whitespace(42);
}

/* number */
element {
  content: whitespace(42px);
}

/* number ($method: false) */
element {
  content: whitespace(42px, false);
}

/* number ($method: em) */
element {
  content: whitespace(42px, em);
}

/* number ($method: rem) */
element {
  content: whitespace(42px, rem);
}

/* tiny */
element {
  content: whitespace(tiny);
}

/* smallest */
element {
  content: whitespace(smallest);
}

/* smaller */
element {
  content: whitespace(smaller);
}

/* small */
element {
  content: whitespace(small);
}

/* regular */
element {
  content: whitespace(regular);
}

/* large */
element {
  content: whitespace(large);
}

/* larger */
element {
  content: whitespace(larger);
}

/* largest */
element {
  content: whitespace(largest);
}
