/* unitless */
element {
  content: 1px;
}

/* number */
element {
  content: 1px;
}

/* number - 14px (method: false) */
element {
  content: 14px;
}

/* number - 14px (method: em) */
element {
  content: 0.875em;
}

/* number - 14px (method: rem) */
element {
  content: 0.875rem;
}

/* tiny */
element {
  content: 0.3125rem;
}

/* smallest */
element {
  content: 0.625rem;
}

/* smaller */
element {
  content: 0.9375rem;
}

/* small */
element {
  content: 1.25rem;
}

/* regular */
element {
  content: 1.875rem;
}

/* large */
element {
  content: 2.8125rem;
}

/* larger */
element {
  content: 3.75rem;
}

/* largest */
element {
  content: 5.625rem;
}
