@import '../../dist/esm';

/* number */
element {
  content: whitespace(1px);
}

/* number - 14px (method: false) */
element {
  content: whitespace(14px, false);
}

/* number - 14px (method: em) */
element {
  content: whitespace(14px, em);
}

/* number - 14px (method: rem) */
element {
  content: whitespace(14px, rem);
}

@each $scale in map-keys($const-whitespace-scale) {
  /* #{$scale} */
  element {
    content: whitespace($scale);
  }
}
