.navbar
  background-color #282c34
  border-bottom none
  box-shadow 0 0 15px rgba(#000, 0.35)
  color #fff

  .site-name
    color #fff

  .links
    background-color inherit

.nav-dropdown
  color #2c3e50

.nav-links
  a:hover
  a.router-link-active
    color inherit

.sidebar
  background-color #f7f7f7

.search-box
  input
    border none
    border-radius 2px
    color red
