/* content-element */
.c-example-1 {
  margin-bottom: 2.5rem;
}

.c-example-1.compact {
  margin-bottom: 0;
}

/* content-element(this) */
.c-example-1 {
  margin-bottom: 2.5rem;
}

.c-example-1.compact {
  margin-bottom: 0;
}

.c-example-1:not(.compact) + .c-example-1 {
  margin-top: -1.66667rem;
}

/* content-element(div) */
.c-example-1 {
  margin-bottom: 2.5rem;
}

.c-example-1.compact {
  margin-bottom: 0;
}

.c-example-1:not(.compact) + div {
  margin-top: -1.66667rem;
}

/* content-element(this, div) */
.c-example-1 {
  margin-bottom: 2.5rem;
}

.c-example-1.compact {
  margin-bottom: 0;
}

.c-example-1:not(.compact) + .c-example-1, .c-example-1:not(.compact) + div {
  margin-top: -1.66667rem;
}

/* content-element(to-class(element)) */
.c-example-1 {
  margin-bottom: 2.5rem;
}

.c-example-1.compact {
  margin-bottom: 0;
}

.c-example-1:not(.compact) + .element {
  margin-top: -1.66667rem;
}
