/* is-open */
.is-open.element {
  content: 'has-class';
}

/* is-open, is-active */
.is-open.is-active.element {
  content: 'has-class';
}

/* nested (is-open) */
.is-open.element .nested {
  content: 'has-class';
}

/* nested (is-open, is-active) */
.is-open.is-active.element .nested {
  content: 'has-class';
}
