@import '../app';

/* is-open */
.element {
  @include has-class(is-open) {
    content: 'has-class';
  }
}

/* is-open, is-active */
.element {
  @include has-class(is-open, is-active) {
    content: 'has-class';
  }
}

/* nested (is-open) */
.element {
  .nested {
    @include has-class(is-open) {
      content: 'has-class';
    }
  }
}

/* nested (is-open, is-active) */
.element {
  .nested {
    @include has-class(is-open, is-active) {
      content: 'has-class';
    }
  }
}
