/* phone */
@media (max-width: 599px) {
  element {
    content: "phone";
  }
}

/* phone (prop: width) */
@media (max-width: 599px) {
  element {
    content: "phone";
  }
}

/* phone (prop: height) */
@media (max-height: 479px) {
  element {
    content: "phone";
  }
}

/* phone (prop: both) */
@media (max-width: 599px) and (max-height: 479px) {
  element {
    content: "phone";
  }
}

/* phone (prop: both, operator: and) */
@media (max-width: 599px) and (max-height: 479px) {
  element {
    content: "phone";
  }
}

/* phone (prop: both, operator: or) */
@media (max-width: 599px), (max-height: 479px) {
  element {
    content: "phone";
  }
}

/* portrait */
@media (min-width: 600px) and (max-width: 767px) {
  element {
    content: "portrait";
  }
}

/* portrait (prop: width) */
@media (min-width: 600px) and (max-width: 767px) {
  element {
    content: "portrait";
  }
}

/* portrait (prop: height) */
@media (min-height: 480px) and (max-height: 1023px) {
  element {
    content: "portrait";
  }
}

/* portrait (prop: both) */
@media (min-width: 600px) and (min-height: 480px) and (max-width: 767px) and (max-height: 1023px) {
  element {
    content: "portrait";
  }
}

/* portrait (prop: both, operator: and) */
@media (min-width: 600px) and (min-height: 480px) and (max-width: 767px) and (max-height: 1023px) {
  element {
    content: "portrait";
  }
}

/* portrait (prop: both, operator: or) */
@media (min-width: 600px), (min-height: 480px) and (max-width: 767px), (max-height: 1023px) {
  element {
    content: "portrait";
  }
}

/* landscape */
@media (min-width: 768px) and (max-width: 1023px) {
  element {
    content: "landscape";
  }
}

/* landscape (prop: width) */
@media (min-width: 768px) and (max-width: 1023px) {
  element {
    content: "landscape";
  }
}

/* landscape (prop: height) */
@media (min-height: 1024px) and (max-height: 767px) {
  element {
    content: "landscape";
  }
}

/* landscape (prop: both) */
@media (min-width: 768px) and (min-height: 1024px) and (max-width: 1023px) and (max-height: 767px) {
  element {
    content: "landscape";
  }
}

/* landscape (prop: both, operator: and) */
@media (min-width: 768px) and (min-height: 1024px) and (max-width: 1023px) and (max-height: 767px) {
  element {
    content: "landscape";
  }
}

/* landscape (prop: both, operator: or) */
@media (min-width: 768px), (min-height: 1024px) and (max-width: 1023px), (max-height: 767px) {
  element {
    content: "landscape";
  }
}

/* notebook */
@media (min-width: 1024px) and (max-width: 1365px) {
  element {
    content: "notebook";
  }
}

/* notebook (prop: width) */
@media (min-width: 1024px) and (max-width: 1365px) {
  element {
    content: "notebook";
  }
}

/* notebook (prop: height) */
@media (min-height: 768px) and (max-height: 767px) {
  element {
    content: "notebook";
  }
}

/* notebook (prop: both) */
@media (min-width: 1024px) and (min-height: 768px) and (max-width: 1365px) and (max-height: 767px) {
  element {
    content: "notebook";
  }
}

/* notebook (prop: both, operator: and) */
@media (min-width: 1024px) and (min-height: 768px) and (max-width: 1365px) and (max-height: 767px) {
  element {
    content: "notebook";
  }
}

/* notebook (prop: both, operator: or) */
@media (min-width: 1024px), (min-height: 768px) and (max-width: 1365px), (max-height: 767px) {
  element {
    content: "notebook";
  }
}

/* desktop */
@media (min-width: 1366px) {
  element {
    content: "desktop";
  }
}

/* desktop (prop: width) */
@media (min-width: 1366px) {
  element {
    content: "desktop";
  }
}

/* desktop (prop: height) */
@media (min-height: 768px) {
  element {
    content: "desktop";
  }
}

/* desktop (prop: both) */
@media (min-width: 1366px) and (min-height: 768px) {
  element {
    content: "desktop";
  }
}

/* desktop (prop: both, operator: and) */
@media (min-width: 1366px) and (min-height: 768px) {
  element {
    content: "desktop";
  }
}

/* desktop (prop: both, operator: or) */
@media (min-width: 1366px), (min-height: 768px) {
  element {
    content: "desktop";
  }
}
