@import '../app';

/* phone */
element {
  @include media-up-to(phone) {
    content: 'phone';
  }
}

/* portrait */
element {
  @include media-up-to(portrait) {
    content: 'portrait';
  }
}

/* landscape */
element {
  @include media-up-to(landscape) {
    content: 'landscape';
  }
}

/* notebook */
element {
  @include media-up-to(notebook) {
    content: 'notebook';
  }
}

/* desktop */
element {
  @include media-up-to(desktop) {
    content: 'desktop';
  }
}

/* desktop ($prop: width) */
element {
  @include media-up-to(desktop, $prop: width) {
    content: 'desktop';
  }
}

/* desktop ($prop: height) */
element {
  @include media-up-to(desktop, $prop: height) {
    content: 'desktop';
  }
}

/* desktop ($prop: both) */
element {
  @include media-up-to(desktop, $prop: both) {
    content: 'desktop';
  }
}

/* desktop ($prop: both, $operator: and) */
element {
  @include media-up-to(desktop, $prop: both, $operator: and) {
    content: 'desktop';
  }
}

/* desktop ($prop: both, $operator: or) */
element {
  @include media-up-to(desktop, $prop: both, $operator: or) {
    content: 'desktop';
  }
}
