@import '../app';

/* phone, portrait */
element {
  @include media-between(phone, portrait) {
    content: 'phone, portrait';
  }
}

/* portrait, landscape */
element {
  @include media-between(portrait, landscape) {
    content: 'portrait, landscape';
  }
}

/* landscape, notebook */
element {
  @include media-between(landscape, notebook) {
    content: 'landscape, notebook';
  }
}

/* notebook, desktop */
element {
  @include media-between(notebook, desktop) {
    content: 'notebook, desktop';
  }
}

/* notebook, desktop ($prop: width) */
element {
  @include media-between(notebook, desktop, $prop: width) {
    content: 'notebook, desktop';
  }
}

/* notebook, desktop ($prop: height) */
element {
  @include media-between(notebook, desktop, $prop: height) {
    content: 'notebook, desktop';
  }
}

/* notebook, desktop ($prop: both) */
element {
  @include media-between(notebook, desktop, $prop: both) {
    content: 'notebook, desktop';
  }
}

/* notebook, desktop ($prop: both, $operator: and) */
element {
  @include media-between(notebook, desktop, $prop: both, $operator: and) {
    content: 'notebook, desktop';
  }
}

/* notebook, desktop ($prop: both, $operator: or) */
element {
  @include media-between(notebook, desktop, $prop: both, $operator: or) {
    content: 'notebook, desktop';
  }
}
