/* phone */
@media (max-width: 599px) {
  element {
    content: 'phone';
  }
}

/* portrait */
@media (max-width: 767px) {
  element {
    content: 'portrait';
  }
}

/* landscape */
@media (max-width: 1023px) {
  element {
    content: 'landscape';
  }
}

/* notebook */
@media (max-width: 1365px) {
  element {
    content: 'notebook';
  }
}

/* desktop */
@media (max-width: 1679px) {
  element {
    content: 'desktop';
  }
}

/* desktop ($prop: width) */
@media (max-width: 1679px) {
  element {
    content: 'desktop';
  }
}

/* desktop ($prop: height) */
@media (max-height: 1049px) {
  element {
    content: 'desktop';
  }
}

/* desktop ($prop: both) */
@media (max-width: 1679px) and (max-height: 1049px) {
  element {
    content: 'desktop';
  }
}

/* desktop ($prop: both, $operator: and) */
@media (max-width: 1679px) and (max-height: 1049px) {
  element {
    content: 'desktop';
  }
}

/* desktop ($prop: both, $operator: or) */
@media (max-width: 1679px), (max-height: 1049px) {
  element {
    content: 'desktop';
  }
}
