/* phone */
@media (min-width: 600px) {
  element {
    content: 'phone';
  }
}

/* tablet-portrait */
@media (min-width: 768px) {
  element {
    content: 'tablet-portrait';
  }
}

/* tablet-landscape */
@media (min-width: 1024px) {
  element {
    content: 'tablet-landscape';
  }
}

/* notebook */
@media (min-width: 1366px) {
  element {
    content: 'notebook';
  }
}

/* desktop */
@media (min-width: 1680px) {
  element {
    content: 'desktop';
  }
}
