/* phone */
@media (max-width: 599px) {
  element {
    content: 'phone';
  }
}

/* tablet-portrait */
@media (max-width: 767px) {
  element {
    content: 'tablet-portrait';
  }
}

/* tablet-landscape */
@media (max-width: 1023px) {
  element {
    content: 'tablet-landscape';
  }
}

/* notebook */
@media (max-width: 1365px) {
  element {
    content: 'notebook';
  }
}

/* desktop */
@media (max-width: 1679px) {
  element {
    content: 'desktop';
  }
}
