@import '../../dist/esm';

@each $scale in map-keys($const-media-scale) {

  /* #{$scale} */
  element {
    @include media-only($scale) {
      content: '#{$scale}';
    }
  }

  /* #{$scale} (prop: width) */
  element {
    @include media-only($scale, $prop: width) {
      content: '#{$scale}';
    }
  }

  /* #{$scale} (prop: height) */
  element {
    @include media-only($scale, $prop: height) {
      content: '#{$scale}';
    }
  }

  /* #{$scale} (prop: both) */
  element {
    @include media-only($scale, $prop: both) {
      content: '#{$scale}';
    }
  }

  /* #{$scale} (prop: both, operator: and) */
  element {
    @include media-only($scale, $prop: both, $operator: and) {
      content: '#{$scale}';
    }
  }

  /* #{$scale} (prop: both, operator: or) */
  element {
    @include media-only($scale, $prop: both, $operator: or) {
      content: '#{$scale}';
    }
  }

}
