@import '../../dist/esm';

/* phone */
element {
  @include media-only(phone) {
    content: 'phone';
  }
}

/* portrait */
element {
  @include media-only(portrait) {
    content: 'portrait';
  }
}

/* landscape */
element {
  @include media-only(landscape) {
    content: 'landscape';
  }
}

/* notebook */
element {
  @include media-only(notebook) {
    content: 'notebook';
  }
}

/* desktop */
element {
  @include media-only(desktop) {
    content: 'desktop';
  }
}

/* desktop ($prop: width) */
element {
  @include media-only(desktop, $prop: width) {
    content: 'desktop';
  }
}

/* desktop ($prop: height) */
element {
  @include media-only(desktop, $prop: height) {
    content: 'desktop';
  }
}

/* desktop ($prop: both) */
element {
  @include media-only(desktop, $prop: both) {
    content: 'desktop';
  }
}

/* desktop ($prop: both, $operator: and) */
element {
  @include media-only(desktop, $prop: both, $operator: and) {
    content: 'desktop';
  }
}

/* desktop ($prop: both, $operator: or) */
element {
  @include media-only(desktop, $prop: both, $operator: or) {
    content: 'desktop';
  }
}
