/* default */
::before {
  height: 100%;
  width: 100%;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  border: 1px solid inherit;
  border-radius: inherit;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

/* $width: 5px */
::before {
  height: 100%;
  width: 100%;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  border: 0.41667rem solid inherit;
  border-radius: inherit;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

/* $color: red */
::before {
  height: 100%;
  width: 100%;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  border: 1px solid red;
  border-radius: inherit;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

/* $speed: 300ms */
::before {
  height: 100%;
  width: 100%;
  animation-duration: 300ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  border: 1px solid inherit;
  border-radius: inherit;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}

/* $pseudo: after */
::after {
  height: 100%;
  width: 100%;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-name: pulse;
  border: 1px solid inherit;
  border-radius: inherit;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
}
