/* 100px ($method: em) */
element {
  width: 100px;
  height: 100px;
}

/* 100px ($method: rem) */
element {
  width: 100px;
  height: 100px;
}

/* 100px ($method: false) */
element {
  width: 100px;
  height: 100px;
}

/* % */
element {
  width: 1%;
  height: 1%;
}

/* cm */
element {
  width: 1cm;
  height: 1cm;
}

/* em */
element {
  width: 1em;
  height: 1em;
}

/* ex */
element {
  width: 1ex;
  height: 1ex;
}

/* in */
element {
  width: 1in;
  height: 1in;
}

/* mm */
element {
  width: 1mm;
  height: 1mm;
}

/* pc */
element {
  width: 1pc;
  height: 1pc;
}

/* pt */
element {
  width: 1pt;
  height: 1pt;
}

/* px */
element {
  width: 1px;
  height: 1px;
}

/* rem */
element {
  width: 1rem;
  height: 1rem;
}

/* vh */
element {
  width: 1vh;
  height: 1vh;
}

/* vw */
element {
  width: 1vw;
  height: 1vw;
}

/* width aspect (16/9 1080px) */
element {
  width: 1920px;
  height: 1080px;
}

/* height aspect (1920px 16/9) */
element {
  width: 1920px;
  height: 1080px;
}

/* width skip (false 1080px) */
element {
  height: 1080px;
}

/* height skip (1920px false) */
element {
  width: 1920px;
}
