/* unitless */
element {
  height: 3.5rem;
  width: 3.5rem;
}

/* px ($method: em) */
element {
  height: 3.5em;
  width: 3.5em;
}

/* px ($method: rem) */
element {
  height: 3.5rem;
  width: 3.5rem;
}

/* px ($method: false) */
element {
  height: 42px;
  width: 42px;
}

/* % */
element {
  height: 42%;
  width: 42%;
}

/* cm */
element {
  height: 42cm;
  width: 42cm;
}

/* em */
element {
  height: 42em;
  width: 42em;
}

/* ex */
element {
  height: 42ex;
  width: 42ex;
}

/* in */
element {
  height: 42in;
  width: 42in;
}

/* mm */
element {
  height: 42mm;
  width: 42mm;
}

/* pc */
element {
  height: 42pc;
  width: 42pc;
}

/* pt */
element {
  height: 42pt;
  width: 42pt;
}

/* px */
element {
  height: 3.5rem;
  width: 3.5rem;
}

/* rem */
element {
  height: 42rem;
  width: 42rem;
}

/* vh */
element {
  height: 42vh;
  width: 42vh;
}

/* vw */
element {
  height: 42vw;
  width: 42vw;
}
