element {
  /* unitless */
  height: 3.5rem;
  width: 3.5rem;
  /* px */
  height: 3.5rem;
  width: 3.5rem;
  /* px (em) */
  height: 3.5em;
  width: 3.5em;
  /* px (rem) */
  height: 3.5rem;
  width: 3.5rem;
  /* px (false) */
  height: 42px;
  width: 42px;
  /* em */
  height: 42em;
  width: 42em;
  /* rem */
  height: 42rem;
  width: 42rem;
  /* % */
  height: 42%;
  width: 42%;
  /* vw */
  height: 42vw;
  width: 42vw;
  /* vh */
  height: 42vh;
  width: 42vh;
}
