/* color */
element {
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

/* color, opacity */
element {
  -webkit-transition: color 300ms, opacity 300ms;
  -o-transition: color 300ms, opacity 300ms;
  transition: color 300ms, opacity 300ms;
}
