@import "../dist/esm";

// export mixin defines the properties
@include export(component, (
  'background-color': blue,
  'width': 200px,
));

// extend mixin is used to modify already created export
@include extend(component, (
  'background-color': red,
  'color': white,
));

// import mixin includes calculated class and allows to use get and get-value functions
@include import(component) {
  background-color: get(background-color);
  color: get(color);
  width: get(width);
}
